
@model Calendar
@{
    ViewBag.Title = "View Schedule";
    ViewData["Breadcrumbs"] = new[]
                                  {
                                      new Breadcrumb("Instructors", @Url.Action("Index")),
                                      new Breadcrumb(Model.Name, @Url.Action("Details", new {Id = Model.Id}))
                                  };
}

@Html.Partial("_CalendarView")

<script id="template" type="text/html">
    <div>
        {{tmpl "#calendarTemplate"}}
    </div>

    <div id="helpDialog" title="Instructor Schedule" class="hidden">
        <h4>Instructor Schedule</h4>
        <p>Since internet and TBA sections do not have a defined schedule, they are shown across the top.
        </p>
        <p>The instructor's blackout times are shown in black.</p>
    </div>
</script>

<div data-bind='template: "template"' />