@model Index
@{
    ViewBag.Title = "Instructors";
}

@Html.Partial("_InstructorList")

<script id="template" type="text/html">
{{tmpl instructorListTemplate}}
<h2 class="hint">Choose an instructor from the left</h2>
</script>

<div id="placeholder" />