@{
    ViewBag.Title = "Home";
}
<ul class="links">
    <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
    <li class="separator">|</li>
    <li>@Html.ActionLink("Templates", "Index", "Template")</li>
    <li class="separator">|</li>
    <li>@Html.ActionLink("Sections", "Index", "Section")</li>
</ul>