@{
    ViewBag.Title = "Schedule";
}

<ul class="links">
    <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
    <li>@Html.ActionLink("Templates", "Index", "Template")</li>
    <li>@Html.ActionLink("Sections", "Index", "Section")</li>
</ul>