@model ChangeRoom
@{
    ViewBag.Title = "Room Assignment";
    ViewData["Breadcrumbs"] = new[]
                                  {
                                      new Breadcrumb("Templates", @Url.Action("Index")),
                                      new Breadcrumb(Model.TemplateName, @Url.Action("Details", new {id = Model.Id}))
                                  };
}
@Html.Partial("_MapView")

<script id="template" type="text/html" >
    <div class="content">
        <div class="display-label">Template</div>
        <div class="display-field">${TemplateName}</div>
    </div>
    {{tmpl "#mapView"}}
</script>

<div id="placeholder" />
