@model Index
@{
    ViewBag.Title = "Campuses";
}

@Html.Partial("_Tree")

<script id="template" type="text/html">
    {{tmpl "#treeTemplateProxy"}}
    <h2 class="hint">Choose an item from the left</h2>
</script>

<div data-bind='template: "template"' />
