@model ChangeSchedule
@{
    ViewBag.Title = "Schedule Selection";
    ViewData["Breadcrumbs"] = new[]
                                  {
                                      new Breadcrumb("Sections", @Url.Action("Index")),
                                      new Breadcrumb(Model.SectionName, @Url.Action("Details", new {id = Model.Id}))
                                  };
}

@Html.Partial("_SectionList")

<script id="template" type="text/html" >
{{tmpl "#sectionListTemplate"}}
    <div class="content">
        <div class="display-label">Section</div>
        <div class="display-field">${SectionName}</div>
        <div class="tabs">
	        <ul>
		        <li><a href="#standardSchedule">Standard Daytime</a></li>
		        <li><a href="#nonstandardSchedule">Nonstandard</a></li>
	        </ul>
	        <div id="standardSchedule">
		        {{tmpl(StandardScheduleData) "#standardScheduleTemplate"}}
	        </div>
	        <div id="nonstandardSchedule">
		        {{tmpl "#nonstandardScheduleTemplate"}}
	        </div>
        </div>
    </div>
</script>

<script id="standardScheduleTemplate" type="text/html">
    @using (Html.BeginForm<SectionController>(c => c.SetStandardSchedule(null), FormMethod.Post))
    {
    <input type='hidden' name='Id' value='${Id}'/>
    <select id="days" name="Days">
        {{each(i, day) Days}}
            <option {{if day==selectedDay}}selected{{/if}}>${day}</option>
        {{/each}}
    </select>

    <select id="times" name="Time">
        {{tmpl "#timesItems"}}
    </select>

    <input type="submit" value="Set Schedule" />
    }
</script>

<script id="timesItems" type="text/html">
        {{each(i, time) Times[selectedDay]}}
            <option>${time}</option>
        {{/each}}
</script>

<script id="nonstandardScheduleTemplate" type="text/html">
    <ul>
        <li>
            <input type='checkbox' id="DaysMonday" name="Days" value="M" />
            <label for="DaysMonday">Monday</label>
        </li>
        <li>
            <input type='checkbox' id="DaysTuesday" name="Days" value="T" />
            <label for="DaysTuesday">Tuesday</label>
        </li>
        <li>
            <input type='checkbox' id="DaysWednesday" name="Days" value="W" />
            <label for="DaysWednesday">Wednesday</label>
        </li>
        <li>
            <input type='checkbox' id="DaysThursday" name="Days" value="Th" />
            <label for="DaysThursday">Thursday</label>
        </li>
        <li>
            <input type='checkbox' id="DaysFriday" name="Days" value="F" />
            <label for="DaysFriday">Friday</label>
        </li>
        <li>
            <input type='checkbox' id="DaysSaturday" name="Days" value="Sa" />
            <label for="DaysSaturday">Saturday</label>
        </li>
        <li>
            <input type='checkbox' id="DaysSunday" name="Days" value="Su" />
            <label for="DaysSunday">Sunday</label>
        </li>
    </ul>
    <div>
        <div class="editor-label">Start:</div>
        <div class="editor-field"><input type="text" name="StartTime" value="8:00 a.m."></div>
        <div class="editor-label">End:</div>
        <div class="editor-field"><input type="text" name="EndTime" value="12:00 p.m."></div>
    </div>
    <input type="submit" value="Set Schedule" />
</script>

<div data-bind='template: "template"' />

<script type="text/javascript">
    getViewModel = function (model) {
        model.StandardScheduleData.selectedDay = model.StandardScheduleData.Days[0];
        model.StandardScheduleData.Id = model.Id;
        return model;
    };

    afterBind.push(function () {
        $('#days').change(function () {
            var selectedDay = $("#days").val();
            viewModel.StandardScheduleData.selectedDay = selectedDay;
            var content = $('#timesItems').tmpl(viewModel.StandardScheduleData);
            $('#times').html(content);
        });
    });
    
</script>