<script type="text/javascript" src="@Url.Content("~/Areas/Schedule/Scripts/displayCalendar.js")"></script>
<script id="calendarTemplate" type="text/html">
    <div id="calendarWrapper">
        <div id="calendar">
        </div>
    </div>
</script>