<script id="mapView" type="text/html">
    <div>
        <div id="svgintro"></div>
        <div id="log" />
    </div>
</script>
<style type="text/css">
    #svgintro
    {
        width: 100%;
        height: 800px;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Content/images/buildings/G1.js")"></script>
<script type="text/javascript">

    function drawIntro(svg) {
        for (var roomIdx in mapData.rooms) {
            var room = mapData.rooms[roomIdx];
            var avail = getRoomAvailability(room.number);
            if (avail) {
                var points = getPath(room);
                var options = {  };
                switch (avail.Status) {
                    case 0: // Available
                        options = { fill: 'green', fillOpacity: 0.5, stroke: 'none', strokeWidth: 3 };
                        break;
                    case 1: // Unavailable
                        options = { fill: 'red', fillOpacity: 0.5, stroke: 'none', strokeWidth: 3 };
                        break;
                    case 2: // ReducedCapacity
                        options = { fill: 'yellow', fillOpacity: 0.5, stroke: 'none', strokeWidth: 3 };
                        break;
                };
                svg.polygon(points, options);
            }
        }
    }
    
    function getRoomAvailability(roomNumber) {
        for (var availIdx in model.Availabilities) {
            var avail = model.Availabilities[availIdx];
            if (avail.Room == roomNumber)
                return avail;
        }
        return null;
    }

    function getPath(room) {
        var points = [];
        for (var pointIdx in room.path) {
            var point = room.path[pointIdx];
            points.push([point.x, point.y]);
        }
        return points;
    }

    afterBind.push(function () {
        $('#svgintro').svg({
            loadURL: "/Content/images/buildings/G1.svg",
            onLoad: drawIntro
        });
    });

    
</script>
