<script id="mapView" type="text/html">
    <div>
        <img src="@Url.Content("~/Content/images/buildings/G1.svg")" id="map"/>
    </div>
    <div id="log" />
    <div id="mapDialog">
        <div class="editor-label">Building</div>
        <div class="editor-field">
            <input type="textbox" id="Building"/>
        </div>
        <div class="editor-label">Floor</div>
        <div class="editor-field">
            <input type="textbox" id="Floor"/>
        </div>
    </div>
    <div id="roomDialog">
        <div class="editor-label">Room Number</div>
        <div class="editor-field">
            <input type="textbox" id="RoomNumber"/>
        </div>
    </div>
</script>
<script type="text/javascript">

    // var data = {rooms: []};

    var data = { "rooms": [{ "number": "100", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "105", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "111", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "112", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "125", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "126", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "127", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }, { "number": "129", "path": [{ "x": 259, "y": 96 }, { "x": 258, "y": 208 }, { "x": 325, "y": 209 }, { "x": 326, "y": 95 }, { "x": 326, "y": 97 }, { "x": 327, "y": 211 }, { "x": 390, "y": 206 }, { "x": 389, "y": 95 }, { "x": 391, "y": 96 }, { "x": 389, "y": 206 }, { "x": 450, "y": 209 }, { "x": 450, "y": 97 }, { "x": 453, "y": 96 }, { "x": 450, "y": 210 }, { "x": 567, "y": 209 }, { "x": 567, "y": 98 }, { "x": 568, "y": 94 }, { "x": 571, "y": 171 }, { "x": 600, "y": 170 }, { "x": 603, "y": 97 }, { "x": 603, "y": 94 }, { "x": 602, "y": 212 }, { "x": 728, "y": 210 }, { "x": 729, "y": 93 }, { "x": 729, "y": 94 }, { "x": 729, "y": 207 }, { "x": 855, "y": 210 }, { "x": 853, "y": 96 }, { "x": 853, "y": 93 }, { "x": 856, "y": 209 }, { "x": 877, "y": 207 }, { "x": 878, "y": 187 }, { "x": 893, "y": 186 }, { "x": 896, "y": 94 }] }], "building": "G", "floor": "1" };

    var points = [];

    afterBind.push(initMapSetup);

    function initMapSetup() {
        $("#mapDialog").hide();
        $("#roomDialog").hide();
        disableContextMenu();
        $("#mapDialog").dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    click: function() {
                        data.building = $("#Building").val();
                        data.floor = $("#Floor").val();
                        $(this).dialog("close");
                        showData();
                    }
                }
                ]
            });
        $("#map").mouseup(map_onClick);
    }

    function showData() {
        $("#log").html(JSON.stringify(data));
    }

    function map_onClick(event) {
        var offset = $("#map").offset();
        var location = {
            x: parseInt(event.pageX - offset.left, 10),
            y: parseInt(event.pageY - offset.top, 10)
        };
        points.push(location);

        if (event.which == 3)
            endRoom();
    }

    function endRoom() {
        $("#roomDialog").dialog({
            modal: true,
            buttons: [{
                text: "OK",
                click: function () {
                    pushRoom($("#RoomNumber").val());
                    $(this).dialog("close");
                }
            }, {
                text: "Cancel",
                click: function () {
                    $(this).dialog("close");
                }
            }
                ]
        });
    }

    function pushRoom(roomNumber) {
        var room = {
            number: roomNumber,
            path: points
        };
        data.rooms.push(room);
        showData();
    }
    
    function disableContextMenu() {
        $("#map")[0].oncontextmenu = function() { return false; };
    }
    
</script>
