<script id="mapView" type="text/html">
    <div>
        <div id="map"></div>
    </div>
</script>

<script type="text/javascript" src="@Url.Content("~/Content/images/buildings/G1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/svgMap.js")"></script>
