<script id="mapView" type="text/html">
    <div id="map">
        <p style="color: maroon; font-weight: bold; font-size: 2em;">FYI: There's a massive security hole in the ImageController's Room action. VS2010 Dev Web Server won't map .svg files to the image/svg+xml MIME type.</p>
        <img src="@Url.Action("Room","Image",new {Id = "G1"})" />
    </div>
</script>
