body, .normal
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

.hidden 
{
	display: none;	
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for breadcrumbs
-----------------------------------------------------------*/
ul.breadcrumbs li
{
	display: inline-block;
	color: #808080;
	font-size: small;
}

ul.breadcrumbs li a
{
	color: black;
}

ul.breadcrumbs li:last-child
{
	font-weight: bold;
	color: black;
}

/* Styles for link lists
-----------------------------------------------------------*/
ul.links li
{
	display: inline-block;
	font-size: small;
	color: #808080;
}

ul.links li a
{
	color: black;
}

/* Styles for item lists
-----------------------------------------------------------*/
fieldset.itemList
{
	display: inline-block;
	float: left;
	margin: 0 1em 0 1em;
}

.itemList ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Calendar styles
-----------------------------------------------------------*/
#calendarWrapper
{
	height: 90%;
	width: 90%;
}

.blackout, 
.fc-agenda .blackout .fc-event-time, 
.fc-agenda .blackout .fc-event-inner
{
	border: 1px solid black;
	color: white;
	background-color: black;
}

.event-class1, 
.fc-agenda .event-class1 .fc-event-time, 
.fc-agenda .event-class1 .fc-event-inner
{
	border-color: #003300;
	color: white;
	background-color: #003300;
}

.event-class1-allday, .fc-agenda .event-class1-allday .fc-event-time, .fc-agenda .event-class1-allday .fc-event-inner
{
	border-color: #4C6F4C;
	color: white;
	background-color: #4C6F4C;
}

.event-class2, 
.fc-agenda .event-class2 .fc-event-time, 
.fc-agenda .event-class2 .fc-event-inner
{
	border-color: #663300;
	color: white;
	background-color: #663300;
}

.event-class2-allday, .fc-agenda .event-class2-allday .fc-event-time, .fc-agenda .event-class2-allday .fc-event-inner
{
	border-color: #936F4C;
	color: white;
	background-color: #936F4C;
}

.event-class3, 
.fc-agenda .event-class3 .fc-event-time, 
.fc-agenda .event-class3 .fc-event-inner
{
	border-color: #993333;
	color: white;
	background-color: #993333;
}

.event-class3-allday, .fc-agenda .event-class3-allday .fc-event-time, .fc-agenda .event-class3-allday .fc-event-inner
{
	border-color: #B76F6F;
	color: white;
	background-color: #B76F6F;
}

.event-class4, 
.fc-agenda .event-class4 .fc-event-time, 
.fc-agenda .event-class4 .fc-event-inner
{ 
	border-color: #660066;
	color: white;
	background-color: #660066;
}

.event-class4-allday, .fc-agenda .event-class4-allday .fc-event-time, .fc-agenda .event-class4-allday .fc-event-inner
{
	border-color: #934C93;
	color: white;
	background-color: #934C93;
}

.event-class5, 
.fc-agenda .event-class5 .fc-event-time, 
.fc-agenda .event-class5 .fc-event-inner
{
	border-color: #000066;
	color: white;
	background-color: #000066;
}

.event-class5-allday, .fc-agenda .event-class5-allday .fc-event-time, .fc-agenda .event-class5-allday .fc-event-inner
{
	border-color: #4C4C93;
	color: white;
	background-color: #4C4C93;
}

.event-class6, 
.fc-agenda .event-class6 .fc-event-time, 
.fc-agenda .event-class6 .fc-event-inner
{
	border-color: #003366;
	color: white;
	background-color: #003366;
}

.event-class6-allday, .fc-agenda .event-class6-allday .fc-event-time, .fc-agenda .event-class6-allday .fc-event-inner
{
	border-color: #4C6F93;
	color: white;
	background-color: #4C6F93;
}

/* Notes
-----------------------------------------------------------*/
#notes > ul
{
	list-style-type: none;
}

#notes > ul > li
{
	margin: 1em;
}

#notes .heading
{
	padding: 0.5em;
	font-size: 0.9em;
	color: #444444;
	background-color: #DDDDDD;
}

#notes .content
{
	font-size: 1.2em;
}

/* Tree view
-----------------------------------------------------------*/
#mapList li
{
}

#mapList li > a 
{
	display: inline-block;
	text-decoration: none;
	text-indent: 18px;	
}

#mapList li.campus > a
{
	background: url(images/world.png) 0 0 no-repeat;	
}

#mapList li.building > a
{
	background: url(images/building.png) 0 0 no-repeat;	
}

#mapList li.map > a
{
	background: url(images/map.png) 0 0 no-repeat;	
}

/* Other styles
-----------------------------------------------------------*/
h2.hint
{
	text-align: center;
	color: #808080;
}

.display-field
{
	font-weight: bold;
}

.tabs
{
	overflow-x:auto;
	position:relative;
	width: 50em;
}

.content 
{
	clear: left;
	display: inline-block;
}

.disabled 
{
	color: #808080;
	font-weight: bold;
}

.ui-progressbar-value 
{ 
	background-image: url(images/pbar-ani.gif); 
}

#map
{
    width: 100%;
    height: 800px;
}


#legend ul 
{
	list-style-type: none;
}

#legend ul li div 
{
	display: inline-block;
	width: 1em; 
	height: 1em;
	border: 1px solid black;
	margin-right: 0.5em;
}

#nonstandardSchedule > form> ul
{
	list-style-type: none;
	display: inline-block;
	padding-right: 2em;
}

#nonstandardSchedule > form > div
{
	display: inline-block;
	vertical-align: top;	
}

#nonstandardSchedule > form > input
{
	vertical-align: top;
}